<div id="nums">
  <div id="form_style">
	<form action="/redirect" method="get">  
 	 <input type="text" name="number">  
 	 <input id="submit" type="submit" value="submit">  
	</form>
  </div>

	<p id="plain"><%= @num %></p>
	<p id="english"><%= @enum %></p>

</div>